table {
  aspect-ratio: 1 / 1;
  width: 500px;
}
body {
  margin: 0;
}

td {
  height: 50px;
  vertical-align: middle;
  text-emphasis: center;
  min-width: 50px;
  width: 10px;
  /* border: 7px solid; */
}
table,
td {
  /* border-spacing: 0; */
  border-collapse: collapse;
  border: 2px solid black;
}
.white {
  background-color: white;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
td:nth-child(4) {
  min-width: 5%;
}
td:nth-child(3) {
  width: 15%;
}
td:nth-child(2) {
  width: 20%;
}
